---
import Layout from "../layouts/Layout.astro"
---
<Layout title="404 Not Found" description="This page does not exists">
  <div class="div h-[75vh] w-screen flex flex-col flex-wrap gap-2 justify-center items-center">
    <h1 class="text-fg text-5xl font-bold">Well, this is <span class="text-primary">awkward...</span></h1>
    <div class="flex gap-4 mt-4 items-center justify-center">
      <h1 class="text-fg text-2xl font-light">Nothing seems to be here</h1>
            <a href="/" class="self-start text-primary text-2xl font-medium underline underline-offset-4 cursor-pointer">Go Back Home</a>
    <div>
  </div>
</Layout>
<style>
</style>
