<!-- Navigation Bar -->
<nav class="navbar">
    <span class="logo">xpr<span class="dot">.</span></span>
    <div class="links">
        <a href="/about">/about</a>
        <a href="/">/</a>
        <a href="/">/</a>
        <a href="/">/</a>
    </div>
    <a href="https://codeberg.org/xpr" class="icon-link">
        <img src="./icons/codeberg.png" alt="Codeberg" class="icon">
    </a>
</nav>
